.navbar {
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: #333;
	color: white;
	padding: 1rem 2rem;
	margin-bottom: 2rem;
}

.navbar-logo {
	font-size: 1.5rem;
	font-weight: bold;
}

.navbar-links {
	list-style: none;
	display: flex;
	gap: 20px;
}

.navbar-links li {
	cursor: pointer;
	transition: color 0.3s;
}

.navbar-links li:hover {
	color: #00bcd4;
}
